/* .editor-content table {
    width: 100%;
    border-collapse: collapse;
   
  }
  
  .editor-content th, .editor-content td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
   
  }
  .editor-box{
    background-color: #fff;
    color: black;
  }

   */